.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #272b4a;
  font-family: Epilogue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.4;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 18px;
  line-height: 22px;
}

.text-weight-bold {
  font-weight: 700;
}

.icon-height-small {
  height: 1rem;
}

.background-color-black {
  color: #f5f5f5;
  background-color: #000;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.text-size-small {
  font-size: .875rem;
}

.form_message-success {
  color: #fff;
  background-color: #7782d4;
  padding: 2rem;
}

.form_submit {
  min-height: 4rem;
  background-color: #7782d4;
  border-radius: 999rem;
  margin-top: 3rem;
  padding: 1.25rem 4rem 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.form_submit:hover {
  background-color: #272b4a;
}

.form_submit:focus-visible {
  outline-offset: 4px;
  outline: 2px solid #7782d4;
}

.form_submit[data-wf-focus-visible] {
  outline-offset: 4px;
  outline: 2px solid #7782d4;
}

.form_form {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-weight-xbold {
  font-weight: 800;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.text-weight-normal {
  font-weight: 400;
}

.text-size-tiny {
  font-size: .75rem;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.background-color-white {
  background-color: #fff;
}

.icon-1x1-small {
  width: 1rem;
  height: 1rem;
  flex: none;
}

.text-align-right {
  text-align: right;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_item-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2rem;
}

.overflow-visible {
  overflow: visible;
}

.text-weight-medium {
  font-weight: 500;
}

.fs-styleguide_background {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.form_checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_2-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_label {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.icon-height-large {
  height: 3rem;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_4-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.fs-styleguide_section-header {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.icon-height-medium {
  height: 2rem;
}

.form_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 0;
  display: grid;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.form_field-block {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.fs-styleguide_heading-large {
  font-size: 6rem;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.text-color-white {
  color: #fff;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(0, 115, 230, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-color-black {
  color: #000;
}

.text-color-grey {
  color: gray;
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.text-align-center {
  text-align: center;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #4451ad;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .35rem .75rem .25rem;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #be4aa5;
}

.fs-styleguide_label.is-hex {
  color: #000;
  background-color: #f5f5f5;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.text-style-link {
  color: #272b4a;
  text-decoration: underline;
}

.text-style-italic {
  font-style: italic;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_3-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-size-medium {
  font-size: 1.25rem;
}

.text-align-left {
  text-align: left;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.overflow-auto {
  overflow: auto;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.fs-styleguide_item-wrapper {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.fs-styleguide_header {
  background-color: #deff7c;
  background-image: url('../images/shapes_1.svg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.text-weight-light {
  font-weight: 300;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.form_input {
  min-height: 4rem;
  color: #7782d4;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: .25rem;
  margin-bottom: 0;
  padding: .55rem 1.5rem .5rem;
  font-size: 1.125rem;
}

.form_input:focus-visible {
  outline-offset: 0px;
  outline: 1px solid #7782d4;
}

.form_input[data-wf-focus-visible] {
  outline-offset: 0px;
  outline: 1px solid #7782d4;
}

.form_input::-ms-input-placeholder {
  color: #727272;
}

.form_input::placeholder {
  color: #727272;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.form_input.is-counter {
  max-width: 5rem;
  padding-top: .75rem;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.text-style-nowrap {
  white-space: nowrap;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.fs-styleguide_version {
  z-index: 5;
  color: #272b4a;
  font-weight: 500;
  text-decoration: none;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.background-color-grey {
  background-color: #f5f5f5;
}

.text-style-muted {
  opacity: .6;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #7782d4;
  border-radius: 999rem;
  padding: 1rem 1.5rem .75rem;
  font-weight: 600;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-secondary {
  color: #272b4a;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #7782d4;
}

.button.is-large {
  padding: 1.25rem 3rem 1.125rem;
}

.button.is-text {
  color: #272b4a;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .75rem 1.25rem .5rem;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_1-col {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.fs-styleguide_empty-box {
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  background-color: rgba(0, 115, 230, .1);
  border: 1px dashed #0073e6;
  position: relative;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.fs-styleguide_color.is-3 {
  background-color: #fff;
}

.fs-styleguide_color.is-1 {
  background-color: #000;
}

.fs-styleguide_color.is-2 {
  background-color: #f5f5f5;
}

.fs-styleguide_color.is-4 {
  background-color: #272b4a;
}

.fs-styleguide_color.is-5 {
  background-color: #7782d4;
}

.fs-styleguide_color.is-6 {
  background-color: #deff7c;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.heading-style-h1 {
  color: #272b4a;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.1;
}

.text-rich-text ul, .text-rich-text ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-rich-text h6, .text-rich-text h5, .text-rich-text h4, .text-rich-text h3, .text-rich-text h2, .text-rich-text h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.hide {
  display: none;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.fs-styleguide_spacing-all {
  display: none;
}

.margin-xhuge {
  margin: 8rem;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.padding-xxlarge {
  padding: 5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-small {
  margin: 1rem;
}

.padding-xsmall {
  padding: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-huge {
  margin: 6rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.margin-xlarge {
  margin: 4rem;
}

.padding-small {
  padding: 1rem;
}

.margin-xsmall {
  margin: .5rem;
}

.margin-custom2 {
  margin: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-large {
  padding: 3rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.margin-large {
  margin: 3rem;
}

.padding-tiny {
  padding: .125rem;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.fs_checkbox-3_block-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.fs_checkbox-5_wrapper {
  width: 2.5rem;
  cursor: pointer;
  border-radius: 999rem;
  flex-direction: row;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  margin-right: 1.5rem;
  padding: .25rem;
  display: flex;
  position: relative;
}

.fs_checkbox-5_label {
  width: auto;
  margin-bottom: 0;
  font-weight: 500;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.fs_checkbox-3_icon {
  z-index: 2;
  color: #272b4a;
  margin-bottom: .5rem;
  position: relative;
}

.section_form {
  min-height: 100vh;
  background-color: #77d4c3;
  padding: 8vh 8vh 0;
}

.fs_range-slider-2_wrapper {
  width: 100%;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .5rem;
  display: block;
  position: relative;
}

.form_toggle-wrapper {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.fs_range-slider-2_left {
  z-index: 1;
  width: 1.25rem;
  height: 1.25rem;
  cursor: grab;
  background-color: #fff;
  border: 3px solid #77d4c3;
  border-radius: 999rem;
  flex: none;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.fs_range-slider-2_left:hover {
  background-color: #77d4c3;
}

.fs_range-slider-2_left:focus-visible {
  outline-offset: 4px;
  outline: 2px solid #9b9b9b;
}

.fs_range-slider-2_left[data-wf-focus-visible] {
  outline-offset: 4px;
  outline: 2px solid #9b9b9b;
}

.fs_range-slider-2_handle-right {
  z-index: 1;
  width: 1.25rem;
  height: 1.25rem;
  cursor: grab;
  background-color: #fff;
  border: 3px solid #7782d4;
  border-radius: 999rem;
  flex: none;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.fs_range-slider-2_handle-right:hover {
  background-color: #7782d4;
}

.fs_range-slider-2_handle-right:focus-visible {
  outline-offset: 4px;
  outline: 2px solid #9b9b9b;
}

.fs_range-slider-2_handle-right[data-wf-focus-visible] {
  outline-offset: 4px;
  outline: 2px solid #9b9b9b;
}

.form_block {
  margin-bottom: 0;
}

.fs_checkbox-5_dot {
  z-index: 2;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 999rem;
  flex: none;
  display: block;
  position: relative;
}

.fs_checkbox-3_label {
  z-index: 2;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.25;
  position: relative;
}

.form_field-row {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs_checkbox-3_component {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs_checkbox-3_group {
  min-height: 3rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-image: radial-gradient(circle, #f6f6f6, #fff 55%);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: auto;
  grid-auto-flow: row;
  justify-content: start;
  align-items: stretch;
  padding: 1rem;
  display: grid;
}

.fs_range-slider-2_track {
  height: .25rem;
  background-color: #f5f5f5;
  border-radius: 999rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.fs_inputcounter-1_button {
  width: 3rem;
  height: 3rem;
  color: #fff;
  cursor: pointer;
  background-color: #272b4a;
  border-radius: 999rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
}

.fs_inputcounter-1_button:hover {
  background-color: #7782d4;
}

.fs_inputcounter-1_button:focus-visible {
  outline-offset: 4px;
  outline: 2px solid #7782d4;
}

.fs_inputcounter-1_button[data-wf-focus-visible] {
  outline-offset: 4px;
  outline: 2px solid #7782d4;
}

.fs_range-slider-2_input {
  display: none;
}

.fs_range-slider-2_values {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
}

.fs_range-slider-2_fill {
  width: 20%;
  height: 100%;
  background-color: #77d4c3;
  background-image: linear-gradient(to right, #77d4c3, #7782d4);
  border-radius: 999rem;
  position: absolute;
}

.form_circle-layer {
  z-index: 99;
  width: 20rem;
  height: 20rem;
  background-color: #fac594;
  border-radius: 999rem;
  margin-top: -10rem;
  margin-left: -10rem;
  position: absolute;
  top: -10vh;
  bottom: auto;
  left: 0%;
  right: auto;
}

.fs_inputcounter-1_component {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs_checkbox-3_block {
  z-index: 3;
  color: #fff;
  background-color: #7782d4;
  border-radius: 999rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: .75rem;
  margin-right: .75rem;
  padding: .25rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.fs_range-slider-2_component {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: block;
}

.fs_checkbox-5_button {
  width: 85%;
  height: 85%;
  border-radius: 999rem;
  margin-top: 0;
  margin-left: 0;
  display: block;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.fs_checkbox-5_button:focus-visible {
  outline-offset: 4px;
  outline: 2px solid #7782d4;
}

.fs_checkbox-5_button[data-wf-focus-visible] {
  outline-offset: 4px;
  outline: 2px solid #7782d4;
}

.form_image-block {
  min-height: 84vh;
  background-color: #deff7c;
  background-image: url('../images/shapes.svg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 8vh;
}

.form_header {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  border-bottom: 1px solid #e7e7e7;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 4rem;
  display: grid;
}

.fs_checkbox-3_field {
  color: #727272;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 2rem;
  display: flex;
  position: relative;
}

.fs_checkbox-3_field:hover {
  color: #272b4a;
  border-color: #272b4a;
}

.fs_checkbox-3_mask {
  z-index: 1;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: .25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.form_grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.25fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.fs_range-slider-2_handle-text {
  text-align: center;
  font-size: 1.25rem;
  position: relative;
}

.fs_inputcounter-1_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  justify-items: start;
  display: grid;
}

.fs_checkbox-5_mask {
  z-index: 1;
  background-color: #e7e7e7;
  border-radius: 999rem;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.form_content {
  min-height: 84vh;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  background-color: #fff;
  border-top-right-radius: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding: 7rem 5rem 6rem;
  display: grid;
  position: relative;
}

.fs_checkbox-3_button {
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 0;
  margin: 0;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs_checkbox-3_button:focus-visible {
  outline-offset: 4px;
  outline: 2px solid #7782d4;
}

.fs_checkbox-3_button[data-wf-focus-visible] {
  outline-offset: 4px;
  outline: 2px solid #7782d4;
}

.fs_starrating-2_icon {
  width: 2.5rem;
  opacity: .8;
  filter: grayscale();
  color: #f5f5f5;
  position: relative;
}

.fs_starrating-2_icon.is-active-starrating {
  opacity: 1;
  filter: grayscale(0%);
  color: #ffc800;
}

.fs_starrating-2_item {
  cursor: pointer;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
}

.fs_starrating-2_item:hover {
  transform: translate(0, -2px);
}

.fs_starrating-2_label {
  display: none;
}

.fs_starrating-2_radio-button {
  width: 100%;
  height: 100%;
  border-style: none;
  margin-top: 0;
  margin-left: 0;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs_starrating-2_radio-button.w--redirected-focus {
  box-shadow: none;
}

.fs_starrating-2_radio-button.w--redirected-focus-visible {
  outline-offset: 4px;
  outline: 2px solid #9b9b9b;
}

.fs_starrating-2_component {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
}

.fs_starrating-2_wrapper {
  display: flex;
}

.fs_starrating-2_group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  align-items: stretch;
  justify-items: stretch;
  display: grid;
}

.clone_button {
  width: 8rem;
  height: 8rem;
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  color: #fff;
  background-color: #7782d4;
  border-radius: 999rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: -3rem;
  margin-right: -1rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  display: grid;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.clone_button:hover {
  background-color: #6069b3;
}

.cta_button_icon {
  width: 2rem;
  height: 2rem;
}

.banner_component {
  z-index: 999;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, .7);
  border-radius: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: start;
  justify-items: start;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  position: absolute;
  top: auto;
  bottom: 3rem;
  left: 3rem;
  right: 3rem;
}

.banner_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: grid;
}

.banner_text {
  color: #272b4a;
  font-size: 1.25rem;
}

.banner_close {
  z-index: 2;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: #fa949d;
  border-radius: 999rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.banner_close-icon {
  width: 1rem;
  opacity: 1;
  filter: invert();
}

.banner_link_component {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  color: #3f4ebd;
  border-bottom: 1px solid #7782d4;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: .25rem;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.banner_link_arrow {
  width: 1.25rem;
  position: relative;
  bottom: .125rem;
}

.banner_logo {
  width: 10rem;
}

.banner_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: start;
  justify-items: start;
  display: grid;
}

.heading-move {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.3em;
  line-height: 1;
}

.heading-move._1 {
  color: #000;
  font-family: Indexdisplay, Verdana, sans-serif;
  display: block;
  position: static;
}

.heading-move._6 {
  color: #000;
  font-family: Indexdisplay, Verdana, sans-serif;
  font-weight: 700;
}

.heading-move._5 {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  color: #000;
  font-family: Indexdisplay, Verdana, sans-serif;
  font-weight: 700;
  display: block;
  position: static;
}

.heading-move._4 {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  color: #000;
  font-family: Indexdisplay, Verdana, sans-serif;
  display: block;
  position: static;
}

.heading-move._2 {
  color: #000;
  font-family: Indexdisplay, Verdana, sans-serif;
  position: static;
}

.heading-move._3 {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  color: #000;
  font-family: Indexdisplay, Verdana, sans-serif;
  display: block;
  position: static;
}

.heading-move._7 {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  color: #000;
  font-family: Indexdisplay, Verdana, sans-serif;
  font-weight: 700;
  display: block;
  position: static;
}

.heading-move._8 {
  color: #000;
  font-family: Indexdisplay, Verdana, sans-serif;
  font-weight: 700;
}

.heading-move._9, .heading-move._10, .heading-move._11 {
  color: #000;
  font-family: Indexdisplay, Verdana, sans-serif;
}

.heading_interaction-wrap {
  height: 63px;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 0;
  display: flex;
  position: static;
  top: 130px;
}

.button-2 {
  width: 150px;
  height: 54px;
  cursor: pointer;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
  position: relative;
  transform: none;
}

.label {
  z-index: 4;
  color: #fff;
  position: relative;
}

.button_bg {
  z-index: 3;
  width: 146px;
  height: 50px;
  background-color: #000;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.button_bg:hover {
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  background-color: rgba(0, 0, 0, .75);
}

.button_color {
  z-index: 1;
  width: 50px;
  height: 50px;
  filter: blur(16px);
  mix-blend-mode: normal;
  background-image: linear-gradient(112deg, rgba(255, 15, 51, .84), rgba(255, 102, 0, .86));
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: -21px;
  left: -14px;
}

.button_color._1 {
  background-image: linear-gradient(112deg, rgba(15, 243, 255, .84), rgba(0, 183, 255, .86));
  top: -24%;
  left: -11%;
}

.button_color._2 {
  background-image: linear-gradient(251deg, rgba(0, 4, 255, .84), rgba(177, 21, 255, .85));
  top: -15%;
  left: auto;
  right: 54%;
}

.button_color._3 {
  background-image: linear-gradient(251deg, rgba(0, 4, 255, .84), rgba(177, 21, 255, .85));
  top: 52%;
  left: auto;
  right: -27%;
}

.button_color._4 {
  background-image: linear-gradient(112deg, rgba(15, 243, 255, .84), rgba(0, 183, 255, .86));
  top: 53%;
  left: auto;
  right: 5%;
}

.button_color-wrap {
  z-index: 2;
  width: 100%;
  height: 100%;
  filter: none;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.button_color-wrap.blur {
  filter: blur(5px);
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  .heading-style-h1 {
    font-family: Indextext, Verdana, sans-serif;
  }

  .form_field-row.passowrd {
    grid-template-columns: 1fr;
  }

  .heading-move {
    font-size: 5.3em;
  }

  .heading-move._5 {
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 0;
  }

  .heading_interaction-wrap {
    height: 80px;
    margin-bottom: 20px;
    top: 160px;
  }

  .button-2 {
    margin-left: 5px;
    transform: scale(1.1);
  }

  .label {
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;
  }

  .button_bg {
    color: #fff;
    background-color: #7782d4;
  }
}

@media screen and (min-width: 1920px) {
  .heading-move {
    font-size: 7em;
  }

  .heading_interaction-wrap {
    height: 90px;
    top: 212px;
  }

  .button-2 {
    margin-left: 12px;
    transform: scale(1.2);
  }
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .heading-style-h1 {
    font-size: 4.5rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .section_form {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .fs_range-slider-2_left, .fs_range-slider-2_handle-right {
    width: 2rem;
    height: 2rem;
  }

  .form_field-row {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .fs_checkbox-3_group {
    grid-template-columns: 1fr 1fr;
  }

  .form_image-block {
    display: none;
  }

  .form_grid {
    grid-template-columns: 1fr;
  }

  .form_content {
    padding: 5rem;
  }

  .clone_button {
    display: none;
  }

  .heading-move {
    font-size: 3em;
  }

  .heading_interaction-wrap {
    height: 50px;
    top: 94px;
  }
}

@media screen and (max-width: 767px) {
  .heading-style-h4 {
    font-size: 1rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-large {
    font-size: 3rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .fs-styleguide_version {
    font-size: .875rem;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .fs_checkbox-5_wrapper {
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .form_toggle-wrapper {
    flex-direction: column;
  }

  .fs_checkbox-3_group {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .form_circle-layer {
    width: 12rem;
    height: 12rem;
    margin-top: -5rem;
    margin-left: -5rem;
  }

  .form_content {
    padding: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .form_submit {
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .section_form {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .form_header {
    padding-bottom: 2rem;
  }

  .form_content {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 3rem 2rem;
  }
}

#w-node-fc78d2af-b4ba-d66d-7e90-f668e6792fef-2aa69def, #name.w-node-fc78d2af-b4ba-d66d-7e90-f668e6792ff3-2aa69def, #w-node-fc78d2af-b4ba-d66d-7e90-f668e6792ff5-2aa69def, #email.w-node-fc78d2af-b4ba-d66d-7e90-f668e6792ff9-2aa69def, #w-node-_3bc9a70d-7f61-240e-8e4e-be25134872a3-2aa69def, #Passowrd.w-node-_3bc9a70d-7f61-240e-8e4e-be25134872a7-2aa69def, #w-node-fc78d2af-b4ba-d66d-7e90-f668e6792fa5-2aa69def, #w-node-fc78d2af-b4ba-d66d-7e90-f668e6792ffa-2aa69def, #w-node-fc78d2af-b4ba-d66d-7e90-f668e6792ffb-2aa69def, #w-node-fc78d2af-b4ba-d66d-7e90-f668e6793049-2aa69def {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fc78d2af-b4ba-d66d-7e90-f668e679304b-2aa69def {
  justify-self: end;
}

#w-node-_0a336d80-05b2-91df-4a58-19602b7c711f-2aa69df1, #w-node-_0a336d80-05b2-91df-4a58-19602b7c7124-2aa69df1, #w-node-_0a336d80-05b2-91df-4a58-19602b7c7129-2aa69df1, #w-node-_0a336d80-05b2-91df-4a58-19602b7c712e-2aa69df1, #w-node-_0a336d80-05b2-91df-4a58-19602b7c7134-2aa69df1, #w-node-_0a336d80-05b2-91df-4a58-19602b7c713a-2aa69df1, #w-node-_0a336d80-05b2-91df-4a58-19602b7c7140-2aa69df1 {
  justify-self: start;
}

#w-node-_0a336d80-05b2-91df-4a58-19602b7c724d-2aa69df1, #w-node-_0a336d80-05b2-91df-4a58-19602b7c7266-2aa69df1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0a336d80-05b2-91df-4a58-19602b7c7269-2aa69df1 {
  justify-self: start;
}

#w-node-_0a336d80-05b2-91df-4a58-19602b7c726b-2aa69df1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0a336d80-05b2-91df-4a58-19602b7c726e-2aa69df1 {
  justify-self: start;
}

#w-node-_0a336d80-05b2-91df-4a58-19602b7c72d7-2aa69df1, #w-node-_0a336d80-05b2-91df-4a58-19602b7c72e1-2aa69df1, #w-node-_0a336d80-05b2-91df-4a58-19602b7c72e2-2aa69df1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_757f298c-228b-5bdf-d7c7-3a3552d2218f-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d22194-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d22199-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d2219e-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221a3-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221a8-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221b2-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221b7-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221bc-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221c1-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221c6-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221cb-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221d0-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221d5-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221da-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221df-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221e4-2aa69df1 {
  justify-self: start;
}

#w-node-_757f298c-228b-5bdf-d7c7-3a3552d221e8-2aa69df1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_757f298c-228b-5bdf-d7c7-3a3552d221e9-2aa69df1 {
  justify-self: start;
}

#w-node-_757f298c-228b-5bdf-d7c7-3a3552d221eb-2aa69df1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_757f298c-228b-5bdf-d7c7-3a3552d221ee-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221f3-2aa69df1, #w-node-_757f298c-228b-5bdf-d7c7-3a3552d221f8-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc28-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc2d-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc32-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc37-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc3c-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc41-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc4b-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc50-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc55-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc5a-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc5f-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc64-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc69-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc6e-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc73-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc78-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc7d-2aa69df1 {
  justify-self: start;
}

#w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc81-2aa69df1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc82-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc87-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc8c-2aa69df1, #w-node-abd85671-7c3c-440c-f69a-8a5ca4cecc91-2aa69df1 {
  justify-self: start;
}

#w-node-_0a336d80-05b2-91df-4a58-19602b7c74bd-2aa69df1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0a336d80-05b2-91df-4a58-19602b7c7519-2aa69df1 {
  justify-self: start;
}

@media screen and (min-width: 1440px) {
  #Passowrd.w-node-_3bc9a70d-7f61-240e-8e4e-be25134872a7-2aa69def, #w-node-fc78d2af-b4ba-d66d-7e90-f668e6792fa5-2aa69def {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-fc78d2af-b4ba-d66d-7e90-f668e679304b-2aa69def {
    justify-self: end;
  }
}


@font-face {
  font-family: 'Indexdisplay';
  src: url('../fonts/IndexDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Indextext';
  src: url('../fonts/IndexText-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Indextext';
  src: url('../fonts/IndexText-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Indexicons';
  src: url('../fonts/IndexIcons.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}